@model OnlineShop12.Models.Order


<div class="container">
    <h2 class="accent">Coșul tău</h2>
    @if (Model != null && Model.OrderProducts != null && Model.OrderProducts.Any())

    {
    <div class="table-responsive">
     <table class="table">
        <thead>
              <tr class="accent">
                <th>Produs</th>
                <th>Cantitate</th>
                <th>Pret</th>
                <th>Total</th>
                <th>Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderProducts)
            {
                <tr>
                            <td class="text-accent">@item.Product.Title</td>
                            <td class="text-accent">@item.Quantity</td>
                            <td class="text-accent">@item.Product.Price</td>
                            <td class="text-accent">@(item.Quantity * item.Product.Price)</td>
                    <td>
                        <form asp-action="RemoveFromCart" asp-route-productId="@item.Id_Product" method="post">
                                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>


    <h3 class="accent mt-4">Total: @Model.Total_Amount RON</h3>

    <div class="mt-4 d-flex gap-3">
    <form asp-action="Index" asp-controller="Payments" method="get">
        <button class=" btn-success">Plasează comanda</button>
    </form>

    <form method="get" asp-action="MyOrders" asp-controller="Orders">
        <button type="submit" class="btn-success">
            Vezi comenzile
        </button>
    </form>
  </div>
}
else
{
        <p class="text-center mt-4">Coșul tău este gol.</p>
    <form method="get" asp-action="MyOrders" asp-controller="Orders">
        <button type="submit" class=" btn-success">
            Vezi comenzile
        </button>
    </form>

}

</div>

