

<h2 style="text-align: center; color: #FFE209;">Afisare produse</h2>


<form method="GET">
    <div class="input-group mb-3">
        <!-- Input pentru căutare -->
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search" value="@ViewBag.SearchString">

        <!-- Dropdown cu butoane -->
        <div class="btn-group">
            <button type="button" class=" btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="?search=@ViewBag.SearchString&sortBy=price_asc">Price: Low to High</a></li>
                <li><a class="dropdown-item" href="?search=@ViewBag.SearchString&sortBy=price_desc">Price: High to Low</a></li>
                <li><a class="dropdown-item" href="?search=@ViewBag.SearchString&sortBy=score_asc">Score: Low to High</a></li>
                <li><a class="dropdown-item" href="?search=@ViewBag.SearchString&sortBy=score_desc">Score: High to Low</a></li>
            </ul>
        </div>

        <!-- Buton de submit -->
        <button class=" btn-outline-primary" type="submit">Search</button>
    </div>
</form>


<div class="product-grid">
@foreach (var prod in ViewBag.Products)
{
    
    <div class="card">
    
        @if (!string.IsNullOrEmpty(prod.ImagePath))
        {
                <img src="@Url.Content(prod.ImagePath)" alt="@prod.Title" class="card product-image" />
        }
        else
        {
                <p style="color: #FF6B6B;">No image available</p>
        }
            <h3>@prod.Title</h3>


    <br />
            <a href="/Products/Show/@prod.Id_Product" class="btn btn-secondary">Afisare produs</a>
    <br />
            <a href="/Products/Edit/@prod.Id_Product" class="btn btn-secondary">Editare produs</a>
    <hr />
    </div>
}
</div>
@if(ViewBag.EsteColaborator)
{
    <a href="/Products/New" class="add-product-btn">Adaugare produs</a>

}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<br />

