@model OnlineShop12.Models.Product

<h2>Afisare produs</h2>
<br />

<label>Titlul produsului</label>
<p>@ViewBag.Products.Title</p>


<label>Descrierea produsului</label>
<p>@ViewBag.Products.Description</p>

<label>Categoria produsului</label>
<p>@ViewBag.Products.Id_Category</p>

<label>Pretul produsului</label>
<p>@ViewBag.Products.Price</p>

<label>Stocul produsului</label>
<p>@ViewBag.Products.Stock</p>



<form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id_Product">
    <button type="submit">Sterge produsul</button>

</form>

<br />

<a href="/Products/Index">Afisare produse</a>


@* Afisare recenzii impreuna cu butoanele de editare si stergere *@

@foreach (var rev in Model.Reviews)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@rev.Content</p>
                    <small>@rev.Date</small>

                </div>
                <br>

                <div class="d-flex">

                    <div>

                        <a class="btn btn-outline-primary" asp-controller="Reviews" asp-action="Edit" asp-route-id="@rev.Id_Review">
                            <i class="bi bi-pencil-square"></i> Editeaza
                        </a>

                    </div>

                    <div>

                        <form method="post" asp-controller="Reviews" asp-action="Delete" asp-route-id="@rev.Id_Review">

                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                        </form>

                    </div>

                </div>

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}


@* Afisarea formularului in care se poate adauga o recenzie *@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" asp-controller="Products" asp-action="Show">

                    <div class="card-body">

                        <input type="hidden" name="Id_Product" value="@Model.Id_Product" />

                        <label>Continut recenzie</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>
                        
                        <br /><br />
                        <button class="btn btn-success " type="submit">Adauga recenzia</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>



<div class="container-wrapper">  
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row justify-content-center">    
        <form method="post" asp-controller="Products" asp-action="Show2">

      <!-- star rating -->
      <div class="rating-wrapper">

        <!-- star 5 -->
        <input type="radio" id="5-star-rating" name="star-rating" value="5">
        <label for="5-star-rating" class="star-rating">
          <i class="fas fa-star d-inline-block"></i>
        </label>

         <!-- star 4 -->
        <input type="radio" id="4-star-rating" name="star-rating" value="4">
        <label for="4-star-rating" class="star-rating star">
          <i class="fas fa-star d-inline-block"></i>
        </label>

         <!-- star 3 -->
        <input type="radio" id="3-star-rating" name="star-rating" value="3">
        <label for="3-star-rating" class="star-rating star">
          <i class="fas fa-star d-inline-block"></i>
        </label>

        <!-- star 2 -->
        <input type="radio" id="2-star-rating" name="star-rating" value="2">
        <label for="2-star-rating" class="star-rating star">
          <i class="fas fa-star d-inline-block"></i>
        </label>

        <!-- star 1 -->
        <input type="radio" id="1-star-rating" name="star-rating" value="1">
        <label for="1-star-rating" class="star-rating star">
          <i class="fas fa-star d-inline-block"></i>
        </label>

       </div>
       </form>
    </div>
  </div>
</div>